<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RabbitServer" value="localhost"/>
    <add key="CouchServer" value="localhost"/>
    <add key="MemcacheServer" value="localhost"/>
    <add key="MemcachePort" value="11211"/>
    <add key="CouchDatabase" value="conversation"/>
    <add key="ProcessExchange" value="ChatProcess"/>
    <add key="NotifyExchange" value="ChatUserNotify"/>
    <add key="StatusExchange" value="ChatStatusEvent"/>
    <add key="ProcessQueue" value="ChatProcessorQ"/>
    <add key="NotifyQueue" value="ChatUserNotifyQ"/>
    <add key="RequestNotifyExchange" value="ChatRequestNotify"/>
    <add key="RequestNotifyQueue" value="ChatRequestNotifyQ"/>
    <add key="ConversationUpdateMsgRouteFormat" value="Chat.Conversation.{0}"/>
    <add key="StatusUpdateMsgRoute" value="Chat.StatusUpdate"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
